.div-carga {
  max-width: 300px;
  margin: 2px auto;
  padding: 20px;
  background: #333;
  border-radius: 10px;
  text-align: center; /* Centra el contenido */
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra todo dentro del formulario */
  gap: 5px;
}

.form-title {
  font-size: 25px;
  color: white;
}

.row {
  display: flex;
  flex-direction: column; /* Asegura que los elementos estén en columna */
  align-items: center;
  gap: 10px;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos dentro de cada grupo */
  width: 80%; /* Para que no sean demasiado anchos */
}

.form-label {
  font-size: 16px;
  color: white;
  margin-bottom: 1px;
}

.form-input,
.input,
.form-jugador,
.form-camiseta {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.form-jugador {
  background: black;
  color: white;
}

.buscar-button,
.agregar-button {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  background-color: #128c7e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.buscar-button:hover,
.agregar-button:hover {
  background-color: #0f6e63;
}

/* Ocultar las flechas en los campos de número en navegadores basados en Chrome, Edge y Safari */
.form-input::-webkit-inner-spin-button,
.form-input::-webkit-outer-spin-button,
.form-camiseta::-webkit-inner-spin-button,
.form-camiseta::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.jugador-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cerrar-sesion-button {
  width: 50%;
  padding: 5px;
  font-size: 1rem;
  background-color: #128c7e;
  color: white;
  border: none;
  border-radius: 5px;
}
