.div-carga {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.form-title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
  color: white;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 15px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

.form-input {
  width: 80px;
  padding: 15px 25px;
  text-align: center;
  align-content: center;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

/* Ocultar las flechas en navegadores basados en Chrome, Edge y Safari */
.form-input::-webkit-inner-spin-button,
.form-input::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Prefijo específico de WebKit */
  margin: 0;
}

/* Ocultar las flechas en navegadores basados en Firefox */
.form-input {
  -moz-appearance: textfield; /* Prefijo específico de Mozilla */
}

.form-ncarnet {
  width: 100px;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  appearance: textfield; /* Propiedad estándar */
}

/* Ocultar las flechas en navegadores basados en Chrome, Edge y Safari */
.form-ncarnet::-webkit-inner-spin-button,
.form-ncarnet::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Prefijo específico de WebKit */
  margin: 0;
}

/* Ocultar las flechas en navegadores basados en Firefox */
.form-ncarnet {
  -moz-appearance: textfield; /* Prefijo específico de Mozilla */
}

.form-jugador {
  width: 200px;
  padding: 15px;
  text-align: center;
  font-size: 2.5rem;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  background-color: black;
}

.buscar-button,
.agregar-button {
  padding: 10px 15px;
  font-size: 1.5rem;
  background-color: #128c7e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buscar-button:hover,
.agregar-button:hover {
  background-color: #0f6e63;
}

.habilitado-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.habilitado-group p {
  font-size: 30px;
  color: white;
}

.form-camiseta {
  width: 100px;
  padding: 30px;
  text-align: center;
  font-size: 2.5rem;
  border: 1px solid white;
  border-radius: 10px;
}

/* Ocultar las flechas en navegadores basados en Chrome, Edge y Safari */
.form-camiseta::-webkit-inner-spin-button,
.form-camiseta::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Prefijo específico de WebKit */
  margin: 0;
}

/* Ocultar las flechas en navegadores basados en Firefox */
.form-camiseta {
  -moz-appearance: textfield; /* Prefijo específico de Mozilla */
}
