.estadisticas-container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

h3 {
  color: white;
}

input,
select {
  margin: 10px;
  padding: 5px;
}

.filtros {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.jugadores-list {
  list-style: none;
  padding: 0;
}

.jugadores-list li {
  background: #f4f4f4;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}
